body {
    background-color: beige;
}

.container {
    border-radius: 10px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    width: 300px;
    background-color: antiquewhite;
    padding: 10px
}

.container img {
    border-radius: 50%;
    width: 100px;
}