<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/new_game" method="post">
        <div>
            <label for="login">Обложка: </label>
            <input type="text" name="cover" id="cover">
        </div>
        <div>
            <label for="password">Название: </label>
            <input type="text" name="title" id="title">
        </div>
        <div>
            <label for="password">Цена: </label>
            <input type="number" name="price" id="price">
        </div>
        <div>
            <label for="password">Рейтинг: </label>
            <input type="number" name="raiting" id="raiting">
        </div>
        <input type="submit" value="Отправить">
    </form>
</body>

</html>